.box1 {
    width: 330px;
    height:148px ;
    border:1px solid #B4B4B4  ;
    margin-top:73px ;
    margin-left:109px ;
}
.box2 {
    margin-top: 10px;
    margin-left: 16.41px;
} 
.box3 {
    margin-top: 10px;
    margin-left: 16.41px;
    color: #808080;
}